langchain-google-genai==2.0.7
langchain-community==0.3.8
google-generativeai==0.8.3
soundfile
transformers==4.46.1
scipy
numpy
torch==2.5.1
fastapi
pydantic
faiss-cpu==1.9.0.post1
python-multipart==0.0.17
uvicorn==0.32.0